[submodule "third_party/wxWidgets"]
	path = third_party/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
