// Main application icon
1 ICON "app_icon.ico"
wxICON_AAA ICON "app_icon.ico"
IDI_MAIN_ICON ICON "app_icon.ico"

// Embedded PNG resources
APP_LOGO_PNG RCDATA "logo.png"
APP_WINDOW_ICON_PNG RCDATA "app_icon.png"